/* calculator css file */
body {
  margin: 0px;
}
.calculator {
  display: block;
  width: 21%;
  margin-left: 40%;
  margin-right: 30%;
  margin-top: 10%;
  border: 2px solid black;
  box-shadow: 10px 10px 2px 2px lightblue;
}
.inputcont {
  width: 283px;
  height: 45px;
  text-align: center;
  margin-top: 5px;
  text-align: left;
  size: 20px;
  background-color: lightcyan;
}
input[type="text"] {
  text-align: right;
  background-color: lightcyan;
  border: none;
}
.buttons {
  display: block;
  margin-left: 30px;
  border-radius: 40px;
}
#result{
  color: orangered;
  font-size: 25px;
  float: right;
  margin-right: 40px;
}
.operators {
  display: inline-flex;
  margin-top: 20px;
}
.leftPanel {
  display: block;
}
.numbers {
  display: block;
}
.equals {
  height: 40px;
  width: 50px;
  text-align: center;
  background-color: aqua;
}
button {
  height: 40px;
  width: 50px;
  text-align: center;
  margin: 10px;
}
